@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");

body {
    font-family: 'Poppins',sans-serif;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    background: #fff;
    overflow-x: hidden;
}

html{
    overflow-x: hidden;
}
.w-70{
    width: 70%;
}
p{
    font-size: 14px;
    line-height: 26px;
}

a:hover, a:focus{
    color: #5696dc;
}

a {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

h1,h2,h3,h4,h5 {
    font-family: 'Poppins' sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
}
ul{
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
}

a:hover,
a:focus{
    text-decoration: none;
    outline: none;
}

a:not([href]):not([tabindex]){
    color: #fff;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover{
    color: #5969dc;
}

section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-header{
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
}
.section-header .section-tittle{
    font-size: 28px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 600;
    color: #333;
    position: relative;
}

.section-header .section-subtittle{
    margin-top: 15px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
}

.section-header .lines{
    margin: auto;
    width: 70px;
    position: relative;
    border-top: 2px solid #5969dc;
    margin-top: 15px;
}

.btn {
    font-size: 14px;
    padding: 11px 40px;
    border-radius: 0px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2 linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2 linear;
    display: inline-block;
}

.btn focus,
.btn :active{
    box-shadow: none;
    outline: none;
    color: #fff;
}

.btn-common{
    border: 1px solid #5969dc;
    background: #5969dc;
    position: relative;
    color: #fff;
    z-index: 1;
    border-radius: 30px;
}

.btn-common:hover {
    color: #fff;
    background: #33b391;
    border-color: #33b391;
    transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
}

.btn-border {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
}

.btn-common:hover {
    border: 2px solid #fff;
    color: #fff;
    background-color: #5969dc;
}

.btn-lg {
    padding: 14px 33px;
    text-transform: uppercase;
    font-size: 16px;
}

.btn-rm {
    padding: 7px 0px;
    color: #999;
    text-transform: capitalize;
}

.btn-rm i {
    vertical-align: middle;
}

button:focus {
    outline:none !important;
}

.clear{
    clear: both;
}

.social-icons {
    margin-top: 40px;
}

.social-icons ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-icons ul li {
    display: inline;
}

.social-icons ul li a {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 15px;
    border-radius: 50%;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    background: #ddd;
    font-size: 16px;
}

.social-icons ul li a:hover {
    color: #fff;
}

.facebook a {
    color: #4867AA;
}

.facebook a:hover {
    background: #4867AA;
}

.twitter a{
    color:#1DA1F2;
}

.twitter a:hover {
    background: #1DA1F2;
}

.google-plus a {
    color: #DD4D42;
}

.google-plus a:hover {
    background: #DD4D42;
}

.youtube a {
    color: #DF2926;
}

.youtube a:hover {
    background: #DF2926;
}

.linkedin a {
    color: #007BB6;
}

.linkedin a:hover {
    background: #007BB6;
}

.pinterest a {
    color: #BD081C;
}

.pinterest a:hover {
    background: #BD081C;
}

.dribble a {
    color: #EA4C89;
}

.dribble a:hover {
    background: #EA4C89;
}

.behance a {
    color: #0B7CFF;
}

.behance a:hover {
    background: #0B7CFF;
}

#loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 9999999999;
}

.spinner{
    width: 40px;
    height: 40px;
    top: 45%;
    position: relative;
    margin: 0px auto;
}

.double-bounce1,.double-bounce2{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #5969dc;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2{
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

 @-webkit-keyframes sk-bounce{
    0%,100%{
        -webkit-transform: scale(0);
    }
    50%{
        -webkit-transform: scale(1);
    }
 }

 @keyframes sk-bounce{
    0%,100%{
       
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50%{
       
        -webkit-transform: scale(1);
        transform: scale(1);
    }
 }

 /* 
 2.5 SCROLL TO UP */
 .back-to-top{
    display: none;
    position: fixed;
    bottom: 18px;
    right: 15px;
 }

 .back-to-top i{
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    background-color: #5969dc;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2 linear;
    transition: all 0.2s linear;
 }
 /*
 3.HERO AREA*/

 #hero-area .overlay, #services .overlay, #services .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #0000;
    opacity: 0.8;
 }

 #hero-area .contents{
padding: 200px 0 130px;
 }

 #hero-area .contents h1{
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 25px;
 }

 #hero-area .contents p{
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;
 }

 #hero-area .banner_bottom_btn{
    margin-top: 40px;
    text-transform: uppercase;
 }
/* punya ilham*/
 #hero-area .banner_bottom_btn{
    margin-top: 40px;
 }

 #hero-area .banner_bottom_btn i{
    color: #fff;
    font-size: 48px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
 }

#hero-area .banner_bottom_btn i:hover{
    color: #5969dc;
}
.navbar-brand{
    position: relative;
    padding: 0px;
}

.top-nav-collapse{
    background: #fff;
    z-index: 999999;
    top: 0px !important;
    padding: 0;
    box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.06);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    background:#fff !important;
}

.top-nav-collapse .navbar-brand{
    top: 0px;
}

.top-nav-collapse .navbar-brand .nav-link{
    color: #333 !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover{
    color: #5969dc !important;
}

.top-nav-collapse .navbar-nav .nav-link.active{
    color: #fff !important;
}

.indigo{
    background: transparent;
}

.navbar-expand-lg .navbar-nav .nav-link{
    color: #fff;
    padding: 0 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 40px;
    border-radius: 30px;
    background: transparent;
    -webkit-transition: all 0.3 ease-in-out;
    -moz-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
}

.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg ,.navbar-nav li .active > a,
.navbar-expand-lg .navbar-nav li a:focus{
    color: #5969dc;
}

.navbar .nav-link.active{
    color: #fff !important;
    background: #5969dc;
}

.dropdown-toggle::after{
    display: none;
}

.slicknav-btn{
    border-color: #5969dc;
}

.slicknav-menu .slicknav_icon-bar{
    background: #5969dc;
}

/**/
@media (min-width:769px) and (max-width:991px){
    #nav-main li a.nav-link{
        padding-top: 18px;
    }
}

.navbar-toggler{
    display: none;
}

.mobile-menu{
    display: none;
}

.slicknav-menu{
    display: none;
}

@media screen and (max-width:768px){
    .navbar-header{
        width: 100%;
    }
    .navbar-brand{
        position: absolute;
        padding: 5px;
        top: 0;
        width: 50%;
        display: inline-block;
    }
    .navbar-brand img{
        width: 155px;
    }
    #mobile-menu{
        display: none;
    }
    .slicknav-menu{
        display: none;
        padding: 10px;
    }
    .slicknav-nav .active a{
        background: #5969dc;
        color: #fff;
    }
    .slicknav-nav a:hover, .slicknav-nav .active{
        color: #5969dc;
        background: #f8f9fa;
    }
    .slicknav-nav .dropdown li a.active{
        background: #f8f9fa;
        color: #5969dc;
    }
}

@media (min-width:576px){
    .margin{
        margin-bottom: 30px;
    }

    #welcome .section-heading h4{
        font-size: 21px !important;
    }
} 

@media (max-width:576px){
    .margin{
        margin-bottom: 30px;
    }
}

#welcome h2, #welcome span{
    font: size 30px;
    font-weight: 600;
}

#welcome .join{
    color: #5969dc;
}

#welcome .read{
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #5969dc;
    font-weight: 600;
    color: #fff;
    background-color: #5969dc;
    border-radius: 50px;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease 0s;
}
   
#welcome .read:hover{
    color: #5969dc;
    background-color: #fff;
}
#welcome .section-heading h4{
    font-size: 22px;
    font-weight: 600;
}
/* 6. FEATURES SECTION STYLE*/
#features{
    background: url(../img/bg1.jpg) fixed no-repeat;
    background-size: cover;
    color: #fff;
    overflow: hidden;
    position: relative;
}

#features .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #0000;
    opacity: 0.8;
    filter:alpha(opacity=90);
}
#features .section-heading h2{
    font-size: 28px;
    font-weight: 600;
}

#features .section-title{
    color: #fff;
}

#features .section-subtitle{
    color: #fff !important;
    position: relative;
}

#features .icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    position: relative;
    z-index: 1;
}

#features .box-item{
    padding: 15px 0;
}

#features .box-item .icon{
    text-align: center;
    float: left;
    color: #5969dc;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#features .box-item .icon{
    font-size: 42px;
    line-height: 60px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#features .box-item .text{
    padding-left: 80px;
}

#features .box-item .text h4{
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 22px;
}

#features .box-item .text p{
    font-size: 14px;
    line-height: 26px;
}

#features .show-box img{
    position: absolute;
    bottom: -120px;
}

#our_work .icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    position: relative;
    z-index: 1;
}

#our_work .box-item{
    padding-bottom:  15px; ;
}

#our_work .box-item .icon{
    border: 1px solid #5969dc;
    text-align: center;
    float: left;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#our_work .box-item .icon i {
    color: #5969dc;
    font-size: 24px;
    line-height: 60px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#our_work .box-item:hover .icon{
    background: #5969dc;
}

#our_work .box-item:hover .icon i{
    color: #ffffff;
}
#our_work .text{
    padding-left: 80px;
}

#our_work .text h4{
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 22px;
}

#our_work .text p{
    font-size: 14px;
    line-height: 26px;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #5969dc;
    opacity: 0.9;
    filter: alpha(opacity=90);
}


#portfolios .mix{
    padding: 10px;
}

#portofolios .portofolio-item .shot-item {
    margin:0px;
}

#portofolio .mix {
    display: none;
}

.controls {
    text-align: center;
    padding: 0px 0px 20px;
}

.controls .active {
    color: #5969dc !important;
    border-color: #5696dc;
    background: transparent;
}

.controls .btn {
    text-transform:uppercase;
    margin: 2px;
}

.controls:hover {
    cursor: pointer;
}
 .portfolio-img {
    overflow: hidden;
    display: block;
    position: relative;
 }

 .portfolio-img img{
    width: 100%;
 }

 .shot-item {
    margin-right: 15px;
    border-radius: 4px;
    background: #fff;
    position: relative;
 }

 .shot-item img{
    width: 100%;
 }

 .shot-item .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    background: rgba(0, 0, 0,0.7);
    top: 0;
    left: 0;
 }

 .shot-item:hover .overlay{
    opacity: 1;
 }

 .overlay .item-icon {
    height: 48px;
    width: 48px;
    line-height: 48px;
    color: #5969dc;
    left: 50%;
    margin-left: -24px;
    margin-top: -24px;
    top: 50px;
    position: absolute;
    z-index:2;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition:  all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    border: 1px solid #5969dc;
    border-radius: 50%;
 }

 .overlay .item-icon:hover{
    background: #5696dc;
    color: #fff;
 }

 .shot-item:hover .item-icon{
    visibility: visible;
    opacity:1;
 }

 .counters {
    background: url(../img/counter.jpg) fixed no-repeat;
    position: relative;
}
.counters .facts_item{
    text-align: center;
    color: #fff;
}

.counters .facts_item .icon{
    margin-bottom: 30px;
}

.counters .facts_item .icon i{
    font-size: 50px;
    color: #fff;
}

.counters .facts_item .fact_count h3{
    font-size: 35px;
    color: #fff;
    margin-bottom: 15px;
}

.counters .facts_item .fact_count h4{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
/*TEAM SECTION*/
.our-team{
    padding: 30px 0 40px;
    background: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.our-team .pic{
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}

.our-team .pic:before{
    content: "";
    width:100%;
    height: 0;
    border-radius: 50%;
    background: #5969dc;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.our-team .pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}
.our-team .team-content{margin-bottom: 30px;}
.our-team .tittle{
    font-size: 18px;
    font-weight: 600;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.our-team .post{
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}
.our-team .social{
    width: 100%;
    padding: 0;
    margin: 0;
    background: #5969dc;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social{bottom: 0;}
.our-team .social li{display: inline-block;}
.our-team .social li a{
    display: block;
    padding: 10px;
    font-size: 17px;
    border-radius: 30px;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:hover{
    color: #5969dc;
    background: #f7f5ec;
}
@media only screen and (max-width: 990px){
    .our-team{margin-bottom: 30px;}
}
/*CONTACT US*/
.contact-us h3{
    font-size: 30px;
    margin-bottom: 45px;
}

.contact-us p span{
    color: #5696dc;
    padding-left: 10px;
}

#contact{
    background: #343a40;
    color: #fff;
    position: relative;
    margin-bottom: 0px;
}

.form-control{
    width: 100%;
    margin-bottom: 10px;
    padding: 14px;
    border-color: #fff;
    border-radius: 0px;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.form-control:focus{
    box-shadow: none;
    color: #fff;
    border-color: #5969dc;
    background: transparent;
    outline: none;
}

.text-danger{
    font-size: 14px;
    color: #5696dc !important;
}

.list-unstyled li{
    color: #d9534f;
}
/*FOOTER*/
footer {
    background: #292f35;
    padding: 20px 0;
}

.footer-links {
    line-height: 48px;
}

.footer-links li{
    float: left;
}

.footer-links li a{
    color: #fff;
    margin-right: 15px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.footer-links li a:hover{
    color: #5969dc;
}

.copyright {
    margin-top: 10px;
    float: right;
}

.copyright p{
    color: #fff;
}
.copyright p a{
    color: #fff;
}

.copyright p a:hover{
    color: #5969dc;
}